:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 101;
  position: absolute;
  left: 0;
  top: 0;
  // background-color: transparent !important;
}

#chart {
  width: 100%;
  height: 100%;
}
