<!-- <div> -->
    <!-- <app-wind-field [options]="mapOptions" id="chart"></app-wind-field> -->
    <div id="map" style="background-color: transparent"></div>
<!-- </div> -->
<!-- <div id="bmap-container">
    <baidu-map [options]="opts"></baidu-map>
</div> -->